<section>
  <div class="section--posts">

  <% if current_user %>
    <div class="row post-form">
      <h2>CREATE A NEW POST.</h2>
      <form action='/posts' method='POST'>
        <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>

        <label for='post_title'>Title:</label>
        <input type='text' name='post_title' id='post_title' placeholder="SQL style guide"></input>

        <label for='post_url'>URL:</label>
        <input type='text' name='post_url' id='post_url' placeholder="sqlstyle.com"></input>

        <input type='submit'></input>
      </form>
    </div>
  <% end %>

  <div class="row">
    <% if flash[:notice] %>
      <% flash[:notice].each do |e| %>
        <p id='error-notification'><%= e %></p>
      <% end %>
    <% end %>
  </div>
    <div class="row">
      <table class="post-table">
        <% @posts.each do |post| %>
          <% if post.title != nil %>
            <tr class="post-table__item">
              <td><%= post.id %>.<i class="ion-android-arrow-dropup"></i></td>
              <td>
                <a href="/posts/<%= post.id %>"><%= post.title %></a>
                <a href="http://<%= post.url %>" class="post-table__item__url">(<%= post.url %>)</a>

                <% if current_user %>

                  <form action='/votes' method='POST'>
                    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                    <input type='hidden' name='post_id' value='<%= post.id %>'></input>

                    <% if !current_user.votes.where(post_id: post.id).empty? %>
                      <button class="post-table__item--upvote--red">
                        <i class="ion-thumbsup"></i>
                      </button>
                    <% else %>
                      <button class="post-table__item--upvote">
                        <i class="ion-thumbsup"></i>
                      </button>
                    <% end %>
                  </form>

                <% else %>

                  <form action='/votes/guest' method='POST'>
                    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                    <input type='hidden' name='post_id' value='<%= post.id %>'></input>

                    <% if session[:votes] %>
                      <% session[:votes].each do |p| %>
                        <% if p.to_i == post.id %>
                          <button class="post-table__item--upvote--red">
                            <i class="ion-thumbsup"></i>
                          </button>
                        <% end %>
                      <% end %>
                    <% end %>
                    <button class="post-table__item--upvote">
                      <i class="ion-thumbsup"></i>
                    </button>
                  </form>

                <% end %>

              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>

  </div>
</section>



